{% extends 'main/layout.html' %}
{% block content %}

<div class="form__item">                                
  <h1> login </h1>    
  <form method="POST" action="/users/check_data" >
      
      
      {% comment %}  {% endcomment %}
      {% csrf_token %} 
      <ul>
          {% for field, error_message in form.errors.items %}
              {% for message in error_message %}
                  <p style="color: red;">{{ message }}</p>
              {% endfor %}
          {% endfor %}
      </ul>
      {% if messages %}
      <ul>
          {% for message in messages %}
              <li style="color: green;">{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %} 
  
      <div class="form__item">
          <input name="username" type="text" class="" placeholder="Логин">
      </div>
      <div class="form__item">
          <input name="password" type="password" class="" placeholder="Пароль">
      </div>
      <button class="form__button" type="submit" >Авторизация</button>
  
  </form>                                 
</div>

{% endblock %}