{% extends 'main/sidebar.html' %}
{% block profile %}
        <section class="container d-flex mt-5">
           <div class="col-md-9 container">
                <div class="row justify-content-center" >
                    <div class="col-12 col-md-4 mb-3">
                        <div class="card w">
                            <div class="card-body text-center">
                              <a href="/orders" class="td-0">Заказы</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-12 col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body text-center">
                              <a href="/cart" class="td-0">Корзина</a>
                            </div>
                          </div>
                    </div> 
                    <div class="col-12 col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body text-center">
                              <a href="#" class="td-0">Избранное</a>
                            </div>
                          </div>
                    </div>
                </div>
               
                <div class="row  justify-content-center">
                    
                    <div class="col-12 col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body text-center">
                              <a href="#" class="td-0">Мои заказы</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-12 col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body text-center">
                              <a href="#" class="td-0">Мои отзывы</a>
                            </div>
                          </div>
                    </div>
                    <div class="col-12 col-md-4 mb-3">
                        <div class="card">
                            <div class="card-body text-center">
                              <a href="/settings" class="td-0">Личные данные</a>
                            </div>
                          </div>
                    </div>
                </div>

                

                </div>
            </div> 
        </section>
{% endblock %}