{% extends 'main/layout.html' %}
{% block content %}

<h1> Регистрация </h1>
<form method="post" action="{% url 'register' %}">                                     
    {% csrf_token %}
    <ul>
        {% for field, error_message in form.errors.items %}
            {% for message in error_message %}
                <p style="color: red;">{{ message }}</p>
            {% endfor %}
        {% endfor %}
    </ul>
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li style="color: green;">{{ message }}</li>
        {% endfor %}
    </ul>
    <form action="{%url 'registration'%}">
    <button class="form__button">Войти</button>
    </form>
    {% endif %}
    <div class="form__item">
        <input name="username" type="text" id="login-field" class="" placeholder="Логин">
    </div>
    <div class="form__item">
        <input name="password" type="text" id="password-field"  class="" placeholder="Пароль">
    </div>
    <button class="form__button" type="submit" onclick="showLoginForm()">Регистрация</button>                                
</form>

{% endblock %}